.headerindextop {
    background-color: #0e0a38;
    height: 3.5em;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
}

.headericon {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    color: white;
    font-size: 14px;
}

.headericonleft {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: white;
    margin-left: 4.5%;
}

.headericonright {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    color: white;
    font-size: 14px;
}

.headericon1 {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    color: white;
    font-size: 12px;

}


.iconf {
    width: 8%;
    height: 8%;


}

.headericon2 {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.5%;
    color: white;
    font-size: 14px;
}

h5 {
    color: white;
    font-style: times new roman;
}

.icon {
    width: 17%;
    height: 17%;
}

.viewheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
}

.input {
    margin-left: 5%;
    width: 51.5%;
    background-color: #27234c;
    color: white;
    border-color: #0e0a38;
    height: 2.3em;
}

.input::placeholder {
    color: white;
}

.viewlogin {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    width: 50%;
}

.login {
    height: auto;
    background-color: #0e0a38;
    color: white;
    border-color: #0e0a38;
    flex-direction: row;
    align-items: center;
    margin: 3px;
}

.login:hover {
    color: #ff630e;
}

.logo {
    margin-left: 5%;
    width: 15%;
    height: 60%;
}

.shopingcard {
    width: 40%;
    height: 80%;
}

.menu {
    width: 70%;
    height: auto;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.menu1 {
    font-weight: 600;
    height: auto;
    display: flex;
    list-style-type: none;
    margin-left: 10px;
    font-size: 14px;
}

.menu1:hover {
    color: #ff630e;
}

p {
    font-size: 13px;
}

.soping {
    width: 15%;
    height: 60%;
    display: flex;
    flex-direction: row;

}

.headerindexbottom {
    width: 100%;
    background-color: white;
    position: fixed;
    height: 6em;
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 10px 0px rgba(124, 117, 117, 0.75);
    z-index: 1;
}

.so {
    margin-left: -12%;
    margin-top: 1%;
    width: 10%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ff630e;
    border-radius: 10px;
    color: white;


}

.banner {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    margin-top: 7%;

}

.viewnav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav {
    background-color: rgba(255, 255, 255, 0.7);
}

.viewbackground {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.me {
    width: 100%;
    background-image: url(../../assets/images/background.png);
    align-items: center;
    flex-direction: column;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    padding: 50px 0;
    cursor: pointer;
}

.title {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 0;

}

.titleme {
    width: 100%;
    height: auto;
    text-align: start;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;


}

.viewleft {
    width: 40%;
    margin: 10px;
    justify-content: space-between;
    z-index: 0;
}


.banner2 {
    border-radius: 10px;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 15px 0px rgba(32, 31, 31, 0.75);
}

.viewh6 {
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: column; */

}


.viewh6 h6 {
    margin-top: -1%;
    padding-bottom: 0;
    font-size: 16px;
    color: black;
    font-weight: 600;
    width: 100%;
    text-align: justify;
    height: auto;

}

h1 {
    font-size: 35px;
    color: black;
    font-weight: bold;
}

.viewbutton {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button {
    background-color: #ff630e;
    border-radius: 5px;
    color: #ffffff;
    height: auto;
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

.button:hover {
    background-color: #ffffff;
}

.menu1:hover .submenu {
    display: block;
    height: auto;
    width: 10%;
    position: absolute;
    margin-top: 1.5%;
    margin-left: -1%;
    z-index: 1;
}

li {
    height: 30px;
}

.submenu {
    border-radius: 10px;
    border-top: 1.5px solid #ff630e;
    text-align: left;
    display: none;
    list-style-type: none;
    height: auto;
    margin-top: 52px;
    background-color: white;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: #ff630e;
}

.submenu1 {
    text-decoration: none;
    margin-left: -15%;
    padding-top: 10px;
    text-align: left;
    height: 30px;
    background-color: white;
    color: black;
    border-bottom: 0.1px solid #dfdfdf;
}

.submenu1:hover {
    color: #ff630e;
    text-decoration: none;
}

footer {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.check {
    color: #ff630e;
    font-size: 20px;

}

.txtcheck {
    color: #ff630e;
    font-size: 17px;
    font-weight: 700;

}

h4 {
    margin-top: -1%;
}

.item1 {
    display: flex;
    width: 100%;
    margin-top: -2%;
}

.item {
    width: 27%;
    margin: 15px;
}

.viewitemtop {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.viewitem {
    width: 100%;
}

h4 {
    text-align: justify;
    font-weight: 500;
    font-size: 17px;
}

.title1:hover {
    box-shadow: 0px 0px 15px 0px rgba(32, 31, 31, 0.75);
    filter: grayscale(0%);
}

.title3 {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(../../assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    padding: 110px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.me::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(234, 234, 235, 0.7);
}

.title3::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 1, 51, 0.7);
}

.title1 {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(../../assets/images/banner-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    padding: 110px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.title2 {
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(../../assets/images/banner-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    padding: 110px 0;
    position: relative;
    cursor: pointer;
    filter: grayscale(30%);
}

.title1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.title1:hover::before {
    background-color: rgba(124, 122, 122, 0.2);
}

.title2:hover::before {
    background-color: rgba(124, 122, 122, 0.2);
}

.title2::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.trainganh {
    flex-wrap: wrap;
    color: #ffffff;
}

.trothanh {
    font-size: 55px;
    font-weight: 700;
    word-wrap: break-word;
    margin: 0px 0px 20px;
    line-height: 77px;
}

.doingu {
    font-size: 14px;
    word-wrap: break-word;
    width: 70%;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.doingu1 {
    font-size: 14px;
    word-wrap: break-word;
    width: 100%;
    color: #ffffff;
    text-align: justify;
}

.doingu2 {
    font-size: 15px;
    word-wrap: break-word;
    font-weight: 700;
    width: 100%;
    color: #ffffff;
    text-align: justify;

}

.viewtitle1 {
    text-align: center;
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    z-index: 0;
    display: flex;

}

.viewtitle2 {
    text-align: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    z-index: 0;


}

.fementor {
    width: 90%;
    border-radius: 10px;
    border: 0.3px solid #727272;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 10px;
    max-height: 350px;
    overflow: hidden;
}

.fementor1 {
    width: 100%;
    margin: 10px;
    height: auto;

}

.feindex {
    margin-left: 5%;
    width: 85%;
    border-radius: 10px;
    border: 0.3px solid #727272;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 20px;
    padding: 5px;

}

.detail {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    bottom: 120px;
}

aside {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.bottom {
    width: 100%;
    height: auto;
    background-color: #0e0a38;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.view1 {
    width: 30%;
    height: auto;
    flex-direction: column;
    margin-left: 3%;
}

.view2 {
    margin-left: 2%;
    width: 15%;
    height: auto;
    flex-direction: column;
}

.bannerf {
    width: 50%;
    height: auto;
    flex-direction: column;
}

.viewf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    color: white;
    text-align: left;
}

.index2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    display: flex;
    color: white;
    text-align: left;
    text-align: center;
}

.itemfe1 {
    width: 1%;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    color: white;

}

.itemfe {

    width: 6%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    color: white;
}

.viewfetitle1 {
    color: #ff630e;
}

.fetitle3 {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url(../../assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    padding: 70px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.fetitle3::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 1, 51, 0.7);
}

.feleft {
    width: 25%;
    height: auto;
    padding: 20px;
}

.feright {
    width: 65%;
    height: auto;
    margin-left: 2%;

}

.gia {
    width: 100%;
    font-size: 14px;
    height: auto;
    font-weight: 700;
    display: flex;
    color: black;

}

.fef {
    width: 100%;
    margin-top: 5%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.btntimkiem {
    width: 100%;
    height: auto;
    background-color: #ff630e;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.khoahoc {
    width: 20%;
    font-size: 15px;
    font-weight: 600;

}

.selec {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sapxep {
    width: 30%;
    height: 10%;
    padding: 5px;
    display: flex;
    flex-direction: row;

}

.imgfe {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 200px;
}

.imgfe1 {
    width: 85%;
    height: 85%;
}

.menu2 {
    font-weight: 600;
    height: auto;
    display: flex;
    list-style-type: none;
    margin-left: 10px;
    font-size: 14px;
    color: #ff630e;
}

.fe1 {
    flex-direction: row;
    color: black;
    justify-content: space-around;
    width: 30%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 15px 0px rgba(145, 139, 139, 0.75);
}

.mentorfe {
    display: flex;
    flex-direction: row;

}

.mentorfe1 {
    display: flex;
    flex-direction: row;
    border-bottom: 0.1px solid #dfdfdf;
}

.khoangcach1 {
    margin: 2px;
    color: rgb(138, 137, 137);
    font-weight: 600;
}

.khoangcach {
    margin: 3px;
    color: #ff630e;
    font-weight: 600;
}

.khoangcach3 {
    margin: 4px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.khoangcach2 {
    margin: 3px;
    color: #792b2b;
    font-weight: 600;
    font-size: 16px;
}

.Checkbox {
    height: auto;
    justify-content: space-between;

}

.btnfe {
    width: 100%;
    height: auto;
    background-color: #ff630e;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}

.btnfe:hover {
    background-color: #ffffff;
}

.slider1 {
    width: 70%;
    padding-bottom: 50px;
}

.slider {
    width: 90%;
    padding-bottom: 50px;
}


.viewtitlefe {
    width: 1100px;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.viewtitlefe1 {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.btn {
    border-color: #ffffff;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.75);
    color: rgb(167, 167, 167);
    font-size: 40px;
    font-weight: 600;
}

.btn:hover {
    color: #ff630e;
}

.detailfe1 {
    margin: 5%;
    width: 90%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    bottom: 120px;
    justify-content: center;
}

.txtcheck1 {
    color: #ff630e;
    font-size: 17px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.dinhhuong {
    background-image: url(../../assets/images/funfact_bg.png);
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: relative;
    padding: 20px;
    cursor: pointer;
}

.dinhhuong::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}